<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    {{ content }}
    <script type="text/javascript" src="vendor/renderjson/renderjson.js"></script>
    <script type="text/javascript">
      var site;

      var request = new XMLHttpRequest();
      request.onload = reqListener;
      request.open("get", "site.json", true);
      request.send();

      function reqListener(e) {
        site = JSON.parse(this.responseText);
        document.getElementById("output").appendChild(
          renderjson.set_show_to_level(2)(site.github)
        );
      }
    </script>
  </body>
</html>
